.eachblog {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 10px;
  background-color: #fafafa;
}

.blog-details {
  flex: 9;
  margin: 20px;
  padding: 10px;
  background-color: #fafafa;
}

.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}

.singlePost {
  flex: 9;
}

.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
}

.singlePostImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 400px;
  border-radius: 5px;
  object-fit: cover;
}

.location{
  padding: 20px;
  margin-bottom: 10px;
}

.center{
  margin: auto;
  width: 35%;
  border: 1px solid black;
}
.center:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.singlePostTitle {
  text-align: center;
  margin: 10px;
  font-size: 28px;
  font-family: "Lora", sans-serif;
  color: #be9656;
}

.singlePostEdit {
  float: right;
  font-size: 16px;
}

.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: teal;
}
.singlePostIcon:last-child {
  color: tomato;
}

.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #be9656;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

.singlePostAuthor {
  margin-left: 5px;
}

.singlePostDesc {
  color: #666;
  font-size: 18px;
  line-height: 25px;
  white-space: pre-line;
  vertical-align: bottom
  ;
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}
